.chart-container {
    position: relative;
    margin: auto;
    height: 1100px;
    width: 800px;
}

@media print{
    .print_none{
        display: none;
    }
}
@media print{
    select {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
      }
}
@page {

    margin : 0mm 5mm;
    size: A4 portrait;
}
