.chart-container {
    position: relative;
    margin: auto;
    height: 1100px;
    width: 800px;
}

@media print{
    .print_none{
        display: none;
    }
    select {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
      }
      body {
        margin: 0;
        width: 210mm;
        height: 297mm;
    }
}

